h1{ 
    color: #6fbb9a; 
    border: #94c8b1 1px dotted; 
    border-left: #d0e35b 10px solid; 
    padding: 5px 20px; margin-bottom: 0; 
} 
a:link {color:#FF0000;} 
a:visited {color:#00FF00;} 
a:hover {color:#FF00FF;} 
a:active {color:#0000FF;} 
a:link {color:#FF0000; background-color:#00FF00;}
body{background-color: #25c273;  } 

#wrap { 
    width: 798px;
    margin: 40px auto;
    background-color: #66ce6f;
    border: #f6bb91 1px solid;
    padding: 40px 80px; }